<!DOCTYPE html>
<html>
<title>Shodan info page</title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="logo">
    <img src="static/images/logo.png" name="logo" alt="logo">
</div>
</head>

<body class="bg">
    <form action="" method="post">
        <div class="boxes">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="Home"
                style="width: 150px;border-radius: 0px;padding: 5px; font-weight:normal;">Home</button>
        </div>
    </form>
    <h1>{{ flashthismessage }}</h1>
    <h2>{{ message }}</h2>
    <div id="json">
        <pre>{{ data|safe }}</pre>
    </div>
    <form action="/" method="post">
        <div class="boxes">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="Home"
                style="width: 150px;border-radius: 0px;padding: 5px; font-weight:normal;">Home</button>
        </div>
    </form>
</body>

</html>